{%extends 'base.html'%}
{% block content%}
	<div class="book-table-wrapper">
		{%if username%}
			<p>Привет, {{username}}<p>
			<a href="logout/">Выйти</a>	
		{% endif %}
		<table class="book-table" border="1">
		<a href="login/">Войти</a>
		

			{%for book in books%}

								<tr>
					<td>{{forloop.counter}}</td>
					<td><img width="50" height="50" src="{{book.image.url}}" alt=""><td>
					<td>{{book.title}}</td>
					<td>{{book.ISBN}}</td>
					<td>{{book.description}}</td>
					<td>{{book.year_release}}</td>
					<td>{{book.author.full_name}}</td>
					<td>{{book.author.country}}</td>
					<td>{{book.copy_count}}</td>
					<td>
						<form action="/index/book_increment/" method="post" enctype="multipart/form-data">
							{% csrf_token %}
							<input type="hidden" name="id" value="{{book.id}}" />
							<input type="submit" value="Увеличить кол-во" />
						</form>
						<form action="/index/book_decrement/" method="post" enctype="multipart/form-data">
							{% csrf_token %}
							<input type="hidden" name="id" value="{{book.id}}" />
							<input type="submit" value="Уменьшить кол-во" />
						</form>
					</td>
				</tr>
			{%endfor%}
		</table>
	</div>
{% endblock %}